@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Poppins";
  color: #4a6385;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  list-style: none;
  background-color: #F6F6F6;
}

a {
  color: #4a6385;
}

h1 {
  font-size: 40px;
  line-height: 1;
  margin: 0px 0px 50px 0px;
}

h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}

ul {
  list-style: none;
}