[class*=__container] {
  margin: 0 auto;
  max-width: 1270px;
  padding: 0 15px;
}

.container-right {
  padding-left: calc((100% - 1240px) / 2);
}

.btn {
  text-decoration: none;
  color: #fff;
  position: relative;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
  border-radius: 27px;
  padding: 13px 45px;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(129.54deg, #c55631 15.57%, #e74b43 95.03%), #FFFFFF;
}
.btn:active {
  top: 1px;
}

.none {
  display: none;
}

.main {
  overflow: hidden;
}

.header {
  height: 940px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
  position: relative;
  overflow: hidden;
}
.header::after {
  content: "";
  background: url("../img/header-bottom.svg") no-repeat center/cover;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 96px;
}
.header__container {
  position: relative;
}
.header__decor {
  position: absolute;
  max-width: 830px;
  max-height: 622px;
  top: 173px;
  right: 57px;
  z-index: -1;
}
.header__decor span {
  background: url("../img/header-elements.svg") no-repeat;
  position: absolute !important;
  width: 100%;
  height: 100%;
}
.header__content {
  max-width: 592px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 44px 0 86px 0;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 25px;
  position: relative;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 7;
}
.header__logo img {
  max-width: 100%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__burger {
  display: none;
  width: 33px;
  height: 23px;
  position: relative;
  z-index: 7;
}
.header__burger span, .header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
  left: 0;
}
.header__item {
  position: relative;
  padding-bottom: 11px;
  margin-right: 80px;
  color: #fff;
  text-decoration: none;
}
.header__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 77%;
  height: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__item:hover::after {
  content: "";
  background-color: #C4C4C4;
  border-radius: 50px;
}
.header__login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  position: relative;
  z-index: 7;
}
.header__sign {
  text-decoration: none;
  color: #fff;
}
.header__sign:hover {
  color: rgba(255, 255, 255, 0.741);
}
.header__login {
  border-radius: 100px;
  text-decoration: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.header__decor {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header__message {
  display: inline-block;
  padding: 11px 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  margin-bottom: 7px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}
.header__title {
  color: #fff;
  width: 592px;
  font-size: 55px;
  line-height: 82.5px;
  font-weight: 400;
  margin-bottom: 30px;
}
.header__text {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 68px;
  color: #fff;
  opacity: 0.5;
  line-height: 37.5px;
}
.header__btn {
  text-decoration: none;
  line-height: 37.5px;
  font-size: 25px;
  padding: 27px 47px;
  font-weight: 600;
  position: relative;
}
.header__img {
  position: absolute;
  right: 600px;
  z-index: -1;
}
.header__img img {
  max-width: unset;
  width: 894px;
  height: 940px;
  position: absolute;
  z-index: -1;
  left: -143px;
  top: -191px;
  pointer-events: none;
}

.destinations {
  padding: 96px 0 200px;
  position: relative;
}
.destinations__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 0;
  position: relative;
  -webkit-column-gap: 49px;
     -moz-column-gap: 49px;
          column-gap: 49px;
}
.destinations__content {
  max-width: 456px;
  position: relative;
}
.destinations__slider {
  position: relative;
  max-width: 1150px;
}

.content__title {
  color: #0F1F1C;
  font-size: 30px;
  font-weight: 600;
  line-height: 65px;
  margin-bottom: 10px;
  max-width: 352px;
}
.content__title span {
  font-size: 55px;
}
.content__text {
  font-size: 25px;
  line-height: 37.5px;
  margin-bottom: 65px;
  opacity: 0.5;
}
.content__btn {
  display: inline-block;
  padding: 25px 45px;
}

.destinations__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.destinations .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.destinations .swiper-slide img {
  width: 335px;
  height: 402px;
}
.destinations .swiper-slide.swiper-slide-active img {
  width: 380px;
  height: 456px;
  position: relative;
  left: -22px;
}

.slider-btn {
  position: absolute;
  width: 68px !important;
  height: 68px !important;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
  border-radius: 50%;
  top: 48% !important;
  z-index: 1 !important;
}

.swiper-button-prev {
  left: -25px !important;
}
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-next {
  right: 0 !important;
}
.swiper-button-next::after {
  content: "" !important;
}

.customers {
  padding-bottom: 233px;
}
.customers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 68px;
     -moz-column-gap: 68px;
          column-gap: 68px;
  color: #0F1F1C;
}
.customers__img {
  border-radius: 50px;
}
.customers__img img {
  max-width: 100%;
  border-radius: 50px;
}

.customers-content__title {
  max-width: 565px;
  font-size: 45px;
  line-height: 68px;
  margin-bottom: 35px;
}
.customers-content__desc {
  max-width: 491px;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  opacity: 0.5;
  margin-bottom: 30px;
}
.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
  margin-bottom: 60px;
}
.review__img img {
  min-width: 134px;
  min-height: 134px;
  border-radius: 50%;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
  max-width: 100%;
}
.review__text {
  margin: 18px 0 30px;
}
.review__title {
  font-size: 33px;
  line-height: 49.5px;
}
.review__desc {
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
  opacity: 0.5;
}

.prepare {
  padding: 0 15px;
}
.prepare__container {
  text-align: center;
  background: #fff;
  max-width: 1240px;
  padding: 116px 262px;
  color: #0F1F1C;
  border-radius: 60px;
  position: relative;
  margin-bottom: 135px;
}
.prepare__container::before, .prepare__container::after {
  content: "";
  position: absolute;
  width: 63px;
  height: 83px;
}
.prepare__container::before {
  background: url("../img/decor-top.svg");
  top: 74px;
  right: 80px;
}
.prepare__container::after {
  background: url("../img/decor-bottom.svg");
  bottom: 56px;
  left: 76px;
}
.prepare__title {
  min-width: 519px;
  font-size: 45px;
  line-height: 68px;
  text-align: center;
  margin-bottom: 30px;
}
.prepare__disc {
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  opacity: 0.5;
  margin-bottom: 60px;
}
.prepare__btn {
  padding: 25px 55px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.email {
  margin-bottom: 32px;
}
.email__container {
  text-align: center;
  color: #0F1F1C;
  margin: 0 auto;
}
.email__title {
  font-size: 55px;
  font-weight: 600;
  line-height: 83px;
  width: 494px;
  margin: 0 auto 60px;
}
.email__input {
  display: inline-block;
  background: #fff;
  border-radius: 35px;
}
.email__input-link {
  width: 485px;
  padding: 47px;
  border-radius: 35px;
  outline: none;
  font-size: 28px;
}
.email__input-link::-webkit-input-placeholder {
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}
.email__input-link::-moz-placeholder {
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}
.email__input-link:-ms-input-placeholder {
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}
.email__input-link::-ms-input-placeholder {
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}
.email__input-link::placeholder {
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}
.email__btn {
  padding: 34px 87px;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
}

.footer {
  padding: 74px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  margin-right: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__logo img {
  color: red;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  margin-right: 219px;
}
.footer__item {
  opacity: 0.5;
  text-decoration: none;
}
.footer__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 66px;
     -moz-column-gap: 66px;
          column-gap: 66px;
  white-space: nowrap;
}
.footer__signup {
  text-decoration: none;
  opacity: 0.5;
}
@media (max-width: 1300px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__logo {
    margin-right: 0;
  }
  .footer__menu {
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  .prepare__container {
    padding: 116px 180px;
  }
}
@media (max-width: 1000px) {
  .customers {
    padding-bottom: 125px;
  }

  .swiper-slide img {
    width: 268px !important;
    height: 321px !important;
  }

  .swiper-slide-active img {
    width: 304px !important;
    height: 364px !important;
    left: -18px !important;
  }

  .destinations {
    padding: 35px 0 150px;
  }
  .destinations__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 60px;
  }
  .destinations__content {
    padding: 0 15px;
    min-width: 100%;
  }
  .destinations__slider {
    max-width: 900px;
    margin-left: 27px;
  }

  .prepare__container {
    padding: 116px 90px;
  }
  .prepare__container::before {
    top: 37px;
    right: 44px;
  }
  .prepare__container::after {
    bottom: 20px;
    left: 63px;
  }

  .footer__menu {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media (max-width: 955px) {
  .header__top {
    padding-top: 37px;
    position: relative;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 170px;
    row-gap: 70px;
  }
  .header__item {
    font-size: 25px;
    margin-right: 0;
  }
  .header__item::after {
    position: inherit;
  }
  .header__burger {
    display: block;
    margin-left: 25px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(132.05deg, #214d4a 78.4%, #428E5F -97.38%), #204434;
    z-index: 6;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow-y: unset;
  }
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__logo img {
    min-width: 110px;
  }
  .header__img img {
    top: -170px;
    left: -40px;
  }
  .header__decor {
    top: 175px;
    right: -60px;
  }

  .customers__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .customers-content {
    margin-bottom: 50px;
  }
  .customers-content__title {
    min-width: 100%;
  }
  .customers-content__desc {
    min-width: 100%;
  }
  .customers__img {
    text-align: center;
  }

  .review {
    margin-bottom: 40px;
  }

  .content__text {
    margin-bottom: 40px;
  }

  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 40px;
  }
  .footer__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 15px;
  }
  .footer__logo img {
    width: 100px;
  }
  .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    font-size: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__login {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
  }
}
.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 40%;
}
.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 47%;
}
.header__burger.active .header__sign {
  display: block;
}

.header__menu.active {
  top: 0;
}

@media (max-width: 850px) {
  .header {
    height: unset;
  }
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 562px;
  }
  .header__img {
    position: relative;
    left: 0%;
  }
  .header__img img {
    width: 90%;
    height: auto;
    position: inherit;
    left: 0 !important;
    top: 0 !important;
  }
  .header__decor {
    top: 790px;
    right: 7px;
  }
  .header__btn {
    border-radius: 20px;
  }
  .swiper {
    margin-right: -55px !important;
  }

  .swiper-slide img {
    width: 214px !important;
    height: 257px !important;
  }

  .swiper-slide-active img {
    width: 245px !important;
    height: 287px !important;
  }

  .destinations {
    padding: 35px 0 100px;
  }
  .destinations__slider {
    max-width: 772px;
  }

  .prepare__container {
    padding: 135px 30px;
    margin: 0 0 80px;
  }
  .prepare__title {
    font-size: 42px;
    min-width: 100%;
  }
  .prepare__desc {
    font-size: 28px;
  }

  .email__title {
    font-size: 50px;
  }

  .email__input-link {
    width: 350px;
    padding: 30px 47px;
  }

  .email__btn {
    padding: 24px 60px;
  }

  .customers {
    padding-bottom: 80px;
  }
  .customers__img {
    text-align: left;
  }
  .customers__img img {
    width: 380px;
  }
}
@media (max-width: 650px) {
  .header__title {
    font-size: 46px;
    line-height: 65px;
    width: 100%;
  }
  .header__img img {
    width: 90%;
    height: auto;
  }
  .header__btn {
    font-size: 16px;
    padding: 18px 30px;
  }
  .header__text {
    font-size: 16px;
  }

  .email__input-link {
    width: 290px;
    padding: 30px 47px;
  }
  .email__input-link::-webkit-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-moz-placeholder {
    font-size: 20px;
  }
  .email__input-link:-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::placeholder {
    font-size: 20px;
  }

  .email__btn {
    padding: 20px 45px;
  }
}
@media (max-width: 550px) {
  .destinations__slider {
    max-width: 450px;
    margin-left: 53%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .swiper-slide {
    left: 18.2%;
  }

  .swiper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .swiper-slide-active img {
    width: 275px !important;
    height: 357px !important;
  }

  .email__title {
    font-size: 45px;
  }

  .email__input-link {
    width: 250px;
    padding: 30px;
    font-size: 25px;
  }
  .email__input-link::-webkit-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-moz-placeholder {
    font-size: 20px;
  }
  .email__input-link:-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::placeholder {
    font-size: 20px;
  }

  .email__btn {
    padding: 20px 45px;
  }
}
@media (max-width: 500px) {
  .header__top {
    padding-bottom: 49px;
  }
  .header__login-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: fixed;
    top: -50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__img {
    left: -10px;
    bottom: -30px;
  }
  .header__img img {
    width: 90%;
    height: auto;
  }
  .header__title {
    font-size: 35px;
  }
  .header__message {
    font-size: 16px;
    padding: 7px 20px;
  }

  .content__title {
    font-size: 26px;
    line-height: 58px;
  }
  .content__title span {
    font-size: 48px;
  }
  .content__text {
    font-size: 20px;
  }
  .content__btn {
    padding: 18px 30px;
    border-radius: 20px;
    font-size: 16px;
  }

  .customers-content__title {
    font-size: 38px;
  }

  .review__img {
    min-width: 115px;
    max-height: 115px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .review__img img {
    width: 115px;
    height: 115px;
  }
  .review__desc {
    font-size: 19px;
  }

  .prepare__title {
    font-size: 38px;
  }
  .prepare__desc {
    font-size: 28px;
  }

  .email__input-link {
    width: 200px;
    padding: 30px;
    font-size: 22px;
  }
  .email__input-link::-webkit-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-moz-placeholder {
    font-size: 20px;
  }
  .email__input-link:-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::placeholder {
    font-size: 20px;
  }

  .email__btn {
    padding: 16px 20px;
  }

  .email__title {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .destinations__slider {
    max-width: 370px;
  }

  .swiper-slide {
    left: 14.5%;
  }

  .swiper-slide-active img {
    width: 255px !important;
    height: 347px !important;
  }

  .slider-btn {
    width: 60px !important;
    height: 60px !important;
  }

  .footer__container {
    row-gap: 0;
  }
  .footer__logo {
    padding-right: 0;
    margin-bottom: 30px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 30px;
    font-size: 22px;
    margin-bottom: 50px;
  }
  .footer__login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    font-size: 26px;
    margin-bottom: 30px;
  }
  .footer__login-link {
    font-size: 22px;
  }
}
@media (max-width: 415px) {
  .destinations__slider {
    max-width: 330px;
  }

  .swiper-slide {
    left: 13.7%;
  }

  .swiper-slide img {
    width: 164px !important;
    height: 207px !important;
  }

  .swiper-slide-active img {
    width: 235px !important;
    height: 317px !important;
  }

  .slider-btn {
    width: 55px !important;
    height: 55px !important;
  }

  .content__title {
    font-size: 22px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .content__title span {
    font-size: 40px;
  }
  .content__text {
    width: 100%;
    max-width: 350px;
  }

  .customers-content__title {
    font-size: 42px;
  }

  .review {
    -ms-flex-line-pack: start;
        align-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .review__img img {
    text-align: left;
  }

  .email__title {
    font-size: 38px;
  }

  .email__input-link {
    width: 170px;
    padding: 30px;
    font-size: 22px;
  }
  .email__input-link::-webkit-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-moz-placeholder {
    font-size: 20px;
  }
  .email__input-link:-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::placeholder {
    font-size: 20px;
  }

  .email__btn {
    padding: 16px 16px;
  }
}
@media (max-width: 375px) {
  .destinations__slider {
    max-width: 290px;
    margin-left: 54%;
  }

  .swiper-slide {
    left: 12.5%;
  }

  .swiper-slide img {
    width: 164px !important;
    height: 207px !important;
  }

  .swiper-slide-active img {
    width: 215px !important;
    height: 287px !important;
  }

  .slider-btn {
    width: 55px !important;
    height: 55px !important;
  }

  .content__text {
    width: 100%;
    max-width: 280px;
  }

  .email__title {
    font-size: 32px;
    margin: 0 auto 30px;
  }

  .email__input-link {
    width: 130px;
    padding: 30px;
    font-size: 22px;
  }
  .email__input-link::-webkit-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-moz-placeholder {
    font-size: 20px;
  }
  .email__input-link:-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::-ms-input-placeholder {
    font-size: 20px;
  }
  .email__input-link::placeholder {
    font-size: 20px;
  }

  .email__btn {
    padding: 14px 16px;
    font-size: 22px;
  }
}
.header-active .header__login-menu {
  top: 80%;
}

.lock {
  overflow: hidden;
}